.preloader-background{
	display: none;
	position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1005;
    top: 0;
	left: 0;
	background-color: rgba(255,255,255,0.7);
}

.preloader-background.active{
	display: block;
}

.active .preloader-wrapper{
	top: calc(50% - 32px);
    left: calc(50% - 32px);
}

.logged-in, .logged-out{
	display: none;
}